<div class = "soundGrid">
  <mat-card *ngFor="let item of allItems" class = "itemSound">
    <mat-card-header>
      <!-- Невидимый элемент -->
      <span class="placeholder" [class.hidden]="!item.isPlaying"> 
        kek
      </span>
      <!-- Реальный элемент -->
      <span *ngIf="item.isPlaying" class="isPlaying"> 
        ● Сейчас играет...
      </span>
    </mat-card-header>
    <mat-card-content>
      <img 
        [src]="item.iconPath" 
        (click)="playSound(item)" 
        [title]="title" 
        class="image"
        [alt]="item.description"
      >
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>