.iconki{
    color: rgb(229, 255, 0);
    font-size: 14px;
    margin-left: 50px;
    border: 1px solid #297b29;
   // border-bottom: 1px solid #297b29;
    border-radius: 8px;
}
.block{
    border: 1px solid #297b29;
    border-radius: 8px;
}
.text{
    font-size:large;
    margin-left: 50px;
    color: aliceblue;
    
}
.text2{
    font-size:medium;
    margin-left: 50px;
    color: aliceblue;
}